{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <title>Title</title>
</head>

<body>
    <div class="menu">
        <ul class="menu-list">
            <li><a href="shop">Shop</a></li>
            <li><a>Checkout</a></li>
            <li><a>About us</a></li>
            <li><a href="login">login</a></li>
        </ul>
    </div>
    <div class="hero">
        <h2 class="hero-content"> Welcome to the webstore page, we sell clothes and bags</h2>
        <button class="primary-btn">click here</button>
    </div>

</body>

</html>