{% load static %}
<link rel="stylesheet" href="{% static 'css/shop.css' %}">

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="menu">
        <ul class="menu-list">
            <li><a href="shop">Shop</a></li>
            <li><a>Checkout</a></li>
            <li><a>About us</a></li>
            <li><a>Contact</a></li>
        </ul>
    </div>
    <div class="grid-item">
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
    </div>
    <div class="grid-item2">
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
    </div>
</body>

</html>